.message-input {
    width: calc(100% - 8.8em);
    outline: none;
    border: none;
    resize: none;
    font-family: sans-serif;
    transition: all .3s ease;
    overflow-y: auto;
    padding: .75em .5em;
    border-radius: 3px;
}