$mediaQueryMaxWidth: 536px;

.message-container {
    flex-grow: 1;
    overflow: hidden;

    .message-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        overflow-y: auto;

        .welcome-message {
            position: absolute;
            color: white;
            top: 40%;
        }

        .message {
            color: white;
            width: 50%;
            background-color: rgb(50, 50, 50);
            padding: .75em;
            border-radius: .5em;
            margin: 0 0 .5em 0;
            white-space: pre-line;  
            word-wrap: break-word;

            @media screen and (max-width: $mediaQueryMaxWidth) {
                width: 80%;
            }
        }

        .encrypedMessage {
            color: gray; 
            cursor: pointer;
        }
    }
}