$mediaQueryMaxWidth: 660px;

.message-input-container {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2.5em;

    @media screen and (max-width: $mediaQueryMaxWidth) {
        margin-bottom: 1em;
    }

    .message-input-wrapper-container {
        width: 50%;
        display: flex;
        align-items: flex-end;

        @media screen and (max-width: $mediaQueryMaxWidth) {
            width: 85%;
        }

        .message-input-wrapper {
            border-radius: .5em;
            padding: .5em;
            background-color: white;
            width: 100%;
    
            textarea {
                width: 100%;
                outline: none;
                border: none;
                resize: none;
                font-family: sans-serif;
                height: 1em;
                transition: all .3s ease;
                overflow-y: scroll;
            }
        }
    
        button {
            padding: .75em 1em;
            border-radius: .5em;
            border: 2px solid black;
            cursor: pointer;
            margin-left: .5em;
            height: 3.1em;
            margin-bottom: -.125em;
        }
    }
}